{whereabouts.server/setup!                 {:default-port 3000}
 whereabouts.database.elasticsearch/setup! {:uri "http://127.0.0.1:9200"
                                            :index "whereabouts-dev"}}
