{whereabouts.server/setup!             {:default-port 3000}
 whereabouts.elasticsearch.core/setup! {:uri "http://127.0.0.1:9200"
                                        :index "whereabouts-test"
                                        :mappings {"marker" {:properties {:location {:type "geo_point"}}}}}}
